
.comment-form {
	width: 800px;
	font-size: 0.8em;
}

.comment {
	width: 800px;
	border: 1px solid #333;
	margin:4px;
	padding-left: 8px;
	padding-right: 8px;
	/*background: grey;*/
}

textarea {
  /*font-size: 1.2em;*/
  width: 700px;
  min-height: 50px;
}