/* Styling for the comments module */

.comment-form {
	width: 796px;
	margin:4px;
	margin-bottom:8px;
	border: 1px solid #333;
}

.comment {
	width: 800px;
	border: 1px solid #333;
	margin:4px;
	padding-left: 8px;
	padding-right: 8px;
	background: #f0f0f0;
}

.content {
	width: 800px;
	font-size:15px;
	word-break: keep-all;
}

.contactinfo {
	font-size:15px;
	color: grey;
	border-top: 1px solid grey;
}

.avatar {
	float: left;
	margin-top:8px;
	margin-right:8px;
}

textarea {
  /*font-size: 1.2em;*/
  font-size: 14px;
  width: 780px;
  min-height: 50px;
}