
.comment-form {
	width: 800px;
	/*font-size: 0.8em;*/
}

.comment {
	width: 800px;
	border: 1px solid #333;
	margin:4px;
	padding-left: 8px;
	padding-right: 8px;
	background: #f0f0f0;
}

.content {
	font-size:15px;
}

.timestamp {
	/*color: grey;*/
}

.contributor {
	/*color: grey;*/
	/*font-style: italic;*/
}

.contactinfo {
	font-size:15px;
	color: grey;
	border-top: 1px solid grey;
}

.edit {
	
}

.delete {
	
}

textarea {
  /*font-size: 1.2em;*/
  width: 780px;
  min-height: 50px;
}